<%= form_for @question, :html => {:id => 'form2'} do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!%= Question %>
    <%= f.label :question %><br>
    <div class="row">
      <div class="field col-lg-8">
        <%= f.text_area :question %>
      </div>
    </div>

    <!%= Question type %>
    <%= f.label "Type" %><br>
    <div class="row">
      <div class="field col-lg-8">
        <!%= Everytime type is selected, JavaScript function is executed in order to hide or show answers %>
        <select class="form-control" name="question[typ]" id="question_typ" onclick="checkType()">
          <option value="choice">Choice</option>
          <option value="number">Number</option>
        </select>
      </div>
    </div>

    <div class="row">
      <!%= Place where answers are inserted after beeing hidden %>
      <div id="answers_placeholder">
        <!%= Answers box including answer fields and "Add More Answers" button %>
        <div id="answers">
          <!%= Answer fields %>
          <div id="answers_fields">
            <div class="field col-lg-8">
              <!%= First answer field is shown %>
              <input placeholder="Answer 1" type="text" name="question[answers_attributes][0][answer]" id="question_answers_attributes_0_answer">
            </div>
          </div>
          <div class="field col-lg-8">
            <!%= On click will execute jQuery that will add additional fields %>
            <a class='btn btn-success' id='add_more_ans' onclick="addAnswer();">Add More Answers</a></div>
        </div>
      </div>
      <script>
          // Total number of input fields so far
          var number_of_answers = 0

          // Add one more answer field
          function addAnswer() {
              number_of_answers++
              var new_field = "<div class='field col-lg-8'><input placeholder='Answer " + (number_of_answers + 1) + "' type='text' name='question[answers_attributes][" + number_of_answers + "][answer]' id='question_answers_attributes_" + number_of_answers + "_answer'></div>"
              $("#answers_fields").append(new_field)
          }

          // Answers box including answer fields and "Add More Answers" button
          var answers;

          // Check type of question and hide or show answers box
          function checkType() {
              var selected_option = $('#question_typ option:selected');
              if (selected_option.attr("value") === "choice") {
                  $("#answers_placeholder").append(answers)
              } else {
                  if ($("#answers").length != 0) {
                      answers = $("#answers")
                  }
                  answers.detach()
              }
          }
      </script>
      </br></br>
    </div>
    <div class="actions">
      <%= f.submit "Submit Changes", class: "btn btn-primary" %>
    </div>
<% end %>


<script type="text/javascript">
    //    jQuery(function($) {
    // $(".button_submit").click(function() {
    //     $( "#form2" ).submit();
    //     $( "#answerform" ).submit();
    // });
</script>