<%= form_for @question, :html=> {:id => 'form2'} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :question %><br>
  <div class="row">
    <div class="field col-lg-8">
      <%= f.text_area :question %>
    </div>
  </div>

    <%= f.label :typ %><br>
    <div class="row">
      <div class="field col-lg-8">
        <%= f.collection_select :typ, Country.all, :id, :name, {:selected => '215'}, class: 'form-control' %>
      </div>
    </div>

      <div class="row">
          <div id="answers">
            <div class="field col-lg-8"><input placeholder="Answer 1" type="text" name="question[answers_attributes][0][answer]" id="question_answers_attributes_0_answer"></div>
          </div>
          <a class='btn btn-success' id='add_more_ans' onclick="addAnswer();">Add More Answer</a>
          <script>
            var number_of_answers = 0
            function addAnswer() {
                number_of_answers++
                var new_field = "<div class='field col-lg-8'><input placeholder='Answer " + (number_of_answers + 1) + "' type='text' name='question[answers_attributes][" + number_of_answers + "][answer]' id='question_answers_attributes_" + number_of_answers + "_answer'></div>"
                $("#answers").append(new_field)
            }
          </script>
          </br></br>
    </div>
  <div class="actions">
    <%= f.submit "Submit Changes"%>
  </div>
<% end %>


<script type="text/javascript">
    //    jQuery(function($) {
    // $(".button_submit").click(function() {
    //     $( "#form2" ).submit();
    //     $( "#answerform" ).submit();
    // });
</script>