<%= form_for @question, :html=> {:id => 'form2'} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :question %><br>
  <div class="row">
    <div class="field col-lg-8">
      <%= f.text_area :question %>
    </div>
  </div>

  <% if(@question.typ == 'choice') %>
    <% @ans = Answer.where(:question_id => @question.id) %>
    <% end %>

    <div id="div_table" style="margin: 0 auto; text-align:center; padding-bottom: 30px">
      <div class="row">
        <div class="col-lg-12">
            <%= f.fields_for :answers do |answer| %>
              <%= answer.text_field :answer %>
            <% end %>


          <div id="answer_div"></div>
          <a class='btn btn-success' id='add_more_ans'>Add More Answer</a>
          </br></br>
      </div>
    </div>
  <div class="actions">
    <%= f.submit "Submit Changes"%>
  </div>
<% end %>


<script type="text/javascript">
    //    jQuery(function($) {
    // $(".button_submit").click(function() {
    //     $( "#form2" ).submit();
    //     $( "#answerform" ).submit();
    // });
</script>
