<<<<<<< HEAD
<%= form_for @question, :html=> {:id => 'form2'} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
=======
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align: center">
        Question
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= form_for(@question) do |f| %>
              <% if @question.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
>>>>>>> development

                  <ul>
                  <% @question.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

<<<<<<< HEAD
  <%= f.label :question %><br>
  <div class="row">
    <div class="field col-lg-8">
      <%= f.text_area :question %>
      <p> <!%= @question.id %> </p>
    </div>
    <div class="col-lg-2">
      <%= link_to "Submit", "#", :class => 'button_submit' %>
    </div>
  </div>

  <% if(@question.typ == 'choice') %>
    <% @ans = Answer.where(:question_id => @question.id) %>
    <% end %>

    <div id="div_table" style="margin: 0 auto; text-align:center; padding-bottom: 30px">
      <!--<table class="table table-bordered table-hover sortable results">-->
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Answers Table</h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="dataTable_wrapper">
      <table id="answer_table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th class="table_header" style="text-align:center">Answer Content</th>
          <th class="table_header"></th>
          <th class="table_header"></th>
        </tr>
        </thead>

        <!-- <tbody> -->
          <!% @ans.each do |an| %>
              <!-- <textarea><!%= an.answer %></textarea> -->
              <!-- <td> <!%= link_to "Edit", "#", :class => 'button_submit' %> </td> -->
              <!-- <td> <!%= button_tag(type: 'submit') do %>
                    <!%= content_tag(:strong, 'Ask me!') %>
                    <!% end %> </td> -->
              <!-- <td> <button onclick="myFunction()">Try it</button> </td> -->
              <!-- <td> <p id="demo"></p> </td> -->
              <!-- <td><!%= link_to_redbox 'Open The Details Form', 'redbox' %></td> -->
              <!-- <td> <!%= link_to "Submit", "#", :class => 'button_submit' %> </td> -->
          <!% end %>

          <% @ans2 = @question.answers %>
          <% @ans2.each do |ans| %>
          <textarea> <%= ans.answer %> </textarea>
          <% end %>

          <div id="answer_div"></div>
          <a class='btn btn-success' id='add_more_ans'>Add More Answer</a>
          </br></br>
        <!-- </tbody> -->
        <
      </table>
            </div>
=======
              <div class="field">
                <label>Description</label><br>
                <%= f.text_area :question, class: "form-control" %>
              </div>
              <div class="field">
                <label>Type</label><br>
                <%= f.select :typ, options_for_select(["number","choice"]), class: "form-control" %>
              </div>
              <div id="answer_div"></div>
              <a class='btn btn-success hidden' id='add_more_ans'>Add More Answer</a>
              </br></br>
              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>
>>>>>>> development
          </div>
        </div>
      </div>
    </div>
<<<<<<< HEAD
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>


<script type="text/javascript">
    //    jQuery(function($) {
    // $(".button_submit").click(function() {
    //     $( "#form2" ).submit();
    // });
    var counter = 0;
=======
  </div>
</div>
<script>
  $( document ).ready(function() {
    $('#question_typ').val('number'); //default this field to number on refresh
//    $('#answer_div').empty();
  });
    var counter = 0;
    $('#question_typ').change(function(){
      if($('#question_typ').val() == "choice") {
        $('#add_more_ans').removeClass("hidden");
        $('#answer_div').append("<div class='field'>" +
            "<label>Answer " + counter +"</label>" +
            "<textarea></textarea>" +
            "</div>"
        );
      }
      else{
        $('#add_more_ans').addClass("hidden");
        $('#answer_div').empty();
      }
    });
>>>>>>> development
    $('#add_more_ans').click(function() {
      counter++;
      $('#answer_div').append("<div class='field'>" +
          "<label>Answer " + counter +"</label>" +
          "<textarea></textarea>" +
          "</div>"
      );
    });
<<<<<<< HEAD
=======

>>>>>>> development
</script>
