<p id="notice"><%= notice %></p>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-body" id="modal-body"></div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<h1>Listing Questions</h1>-->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Survey Questions</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="panel-body">
  <div class="dataTables_wrapper">
    <table id="questions_table" class="table table-striped table-bordered table-hover">
    <!--<table>-->
      <thead>
        <tr>
          <th class="table_header">Question</th>
          <th class="table_header">Type</th>
          <th class="table_header"></th>
          <th class="table_header"></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.question %></td>
            <td><%= question.typ %></td>
            <!--<td style="text-align: center"><!= link_to 'Show', question %></td>-->

            <td style="text-align: center"><%= link_to '<i class="fa fa-pencil fa-1"></i>'.html_safe, edit_question_path(question), class: 'btn btn-warning btn-xs' %></td>
            <td style="text-align: center"><%= link_to '<i class="fa fa-trash-o fa-1"></i>'.html_safe, question, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Question', new_question_path, class: 'btn btn-success' %>

<script>
  $( document ).ready(function() {

    if ($.fn.dataTable.isDataTable('#questions_table')) {
      table = $('#questions_table').DataTable({
        destroy: true,
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "sSwfPath": "http://cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf",
          aButtons: [
            {
              "sExtends": "copy",
              "sButtonText": "Copy",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "csv",
              "sButtonText": "CSV",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "pdf",
              "sButtonText": "PDF",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "xls",
              "sButtonText": "Excel",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "print",
              "sButtonText": "Print",
              "mColumns": [ 0, 1 ]
            },
          ]
        },
        "columnDefs": [
          {"targets": 2, "orderable": false},
          {"targets": 3, "orderable": false}]
      });
    }
    else {
      table = $('#questions_table').DataTable({
        destroy: true,
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "sSwfPath": "http://cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf",
          aButtons: [
            {
              "sExtends": "copy",
              "sButtonText": "Copy",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "csv",
              "sButtonText": "CSV",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "pdf",
              "sButtonText": "PDF",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "xls",
              "sButtonText": "Excel",
              "mColumns": [ 0, 1 ]
            },
            {
              "sExtends": "print",
              "sButtonText": "Print",
              "mColumns": [ 0, 1 ]
            },
          ]
        },
        "columnDefs": [
          {"targets": 2, "orderable": false},
          {"targets": 3, "orderable": false}]
      });
    }
  });
</script>
