<!--<h1>VisitorsStatistics#show</h1>-->
<!--<p>Find me in app/views/visitors_statistics/show.html.erb</p>-->
<div id="alert_danger" class="alert alert-danger alert-dismissible" role="alert">
  <strong>Invalid Date Range! </strong> Please change the date range and try submitting again.
</div>

<div id="alert_warning" class="alert alert-warning alert-dismissible" role="alert">
  <strong>The date is not reached yet! </strong> Please change the date range and try submitting again.
</div>

  <!--<div class="page-header">-->
    <!--<h1>Visitors Statistics</h1>-->
  <!--</div>-->

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Visitors Statistics</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>

  <!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th style="border: none;"><label>From:</label><%= text_field_tag :text, params[:start_date], class: 'form-control', id: 'start_date', name: 'start_date' %></th>-->
      <!--<th style="border: none;"><label>To:</label><%= text_field_tag :text, params[:end_date], class: 'form-control', id: 'end_date', name: 'end_date' %></th>-->

    <!--</tr>-->
    <!--<tr>-->
      <!--<th style="border: none;"><button class="btn btn-maroon btn-large" id="statistics_btn">Submit</button></th>-->
    <!--</tr>-->
    <!--</thead>-->
  <!--</table>-->

    <div style="padding-bottom: 10px">
      <!--<form class="pull-right form-inline">-->
        <div class="form-group" style="width: 300px">
          <div class="input-group input-daterange">
            <!--<input id="start_date" type="text" name="start_date" class="form-control">-->
            <%= text_field_tag :text, params[:start_date], class: 'form-control', id: 'start_date', name: 'start_date' %>
            <span class="input-group-addon">to</span>
            <!--<input id="end_date" type="text" name="end_date" class="form-control">-->
            <%= text_field_tag :text, params[:end_date], class: 'form-control', id: 'end_date', name: 'end_date' %>
          </div>
        </div>
        <button id="statistics_btn" type="submit" class="btn btn-maroon">Submit</button>

      <!--</form>-->
    </div>
</br>
<!--<div class="table">-->
    <!--<div style="display: table-cell">From: <input type="text" class="span2" value="" id="start_date"></div>-->
    <!--<div style="display: table-cell">To: <input type="text" class="span2" value="" id="end_date"></div>-->
<!--</div>-->
<div id="statistic_content">
    <div class="alert alert-success" role="alert">
      <p id="total_note" style="text-align: center; font-size: 150%;">Total Number of Visitors: <%= @total_visitors %></p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-comments fa-5x"></i>-->
                <%= image_tag("dallas_logo.jpg", :alt => "Brand", :style => "width: 50px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="df" class="huge"><%= @n_df_visitors %></div>
                <div>Dallas/FortWorth</div>
              </div>
            </div>
          </div>
          <a href="#" id="df_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-tasks fa-5x"></i>-->
                <%= image_tag("austin_logo.png", :alt => "Brand", :style => "width: 50px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="austin" class="huge"><%= @n_austin_visitors %></div>
                <div>Austin</div>
              </div>
            </div>
          </div>
          <a href="#" id="austin_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-shopping-cart fa-5x"></i>-->
                <%= image_tag("texas_logo.jpg", :alt => "Brand", :style => "width: 50px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="ocit" class="huge"><%= @n_ocit_visitors %></div>
                <div style="white-space:nowrap;">Other Cities in Texas</div>
              </div>
            </div>
          </div>
          <a href="#" id="ocit_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-support fa-5x"></i>-->
                <%= image_tag("international_logo.jpg", :alt => "Brand", :style => "width: 50px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="ooc" class="huge"><%= @n_ooc_visitors %></div>
                <div>International</div>
              </div>
            </div>
          </div>
          <a href="#" id="inter_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-support fa-5x"></i>-->
                <%= image_tag("CS_logo.jpg", :alt => "Brand", :style => "width: 80px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="bcs" class="huge"><%= @n_bcs_visitors %></div>
                <div>College Station</div>
              </div>
            </div>
          </div>
          <a href="#" id="bc_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-tasks fa-5x"></i>-->
                <%= image_tag("US_flag.png", :alt => "Brand", :style => "width: 70px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="os" class="huge"><%= @n_os_visitors %></div>
                <div>Other States</div>
              </div>
            </div>
          </div>
          <a href="#" id="os_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-comments fa-5x"></i>-->
                <%= image_tag("SA_logo.jpg", :alt => "Brand", :style => "width: 50px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="sa" class="huge"><%= @n_sa_visitors %></div>
                <div>San Antonio</div>
              </div>
            </div>
          </div>
          <a href="#" id="sa_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <!--<i class="fa fa-shopping-cart fa-5x"></i>-->
                <%= image_tag("houston_logo.jpg", :alt => "Brand", :style => "width: 50px !important; height: 50px !important;") %>
              </div>
              <div class="col-xs-9 text-right">
                <div id="houston" class="huge"><%= @n_h_visitors %></div>
                <div>Houston</div>
              </div>
            </div>
          </div>
          <a href="#" id="houston_details">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#alert_danger').hide();
        $('#alert_warning').hide();

//        $('#start_date').datepicker();
//        $('#end_date').datepicker();

        if($('#end_date').val() == '' || $('#start_date').val()== '') {
            $('#end_date').datepicker("setDate", new Date());
            var startdate = $('#end_date').datepicker('getDate', '+1d');
            startdate.setDate(startdate.getDate() - 15);
            $('#start_date').datepicker("setDate", startdate);
        }
        else{
            $('#start_date').datepicker();
            $('#end_date').datepicker();
        }

//        $('#submit_btn').click(function(event) {
//
//        });

        $('#df_details').click(function () {
            window.location.replace(window.location.protocol + "//" +
                    window.location.host + "/" + "visitors?start_date=" + $('#start_date').val() +
                    "&end_date=" + $('#end_date').val());


//            $.ajax({
//                type: "GET",
//                dataType: "html",
//                data:{
//                    area: ['df'],
//                    start_date: $('#start_date').val(),
//                    end_date: $('#end_date').val(),
//                },
//                url: "/filter_area",
//                success: function(data){
//                    window.location.replace(window.location.protocol + "//" + window.location.host + "/" + "visitors");
//                    $('#div_table').empty();
//                    $('#div_table').append(data);
//                }
//            });
        });

        $('#statistics_btn').click(function(event){
            if(new Date($('#start_date').val()) >= new Date($('#end_date').val())) {
                event.preventDefault();
                $('#alert_danger').show();
                $("#alert_danger").fadeTo(3000, 500).slideUp(500, function(){
                    $("#alert_danger").hide();
                });
            }
            else if(new Date($('#end_date').val()) > (new Date($.now()))){
                event.preventDefault();
                $('#alert_warning').show();
                $("#alert_warning").fadeTo(3000, 500).slideUp(500, function(){
                    $("#alert_warning").hide();
                });
            }
            else{
                $.ajax({
                    type: "GET",
                    dataType: "html",
                    data:{
                        start_date: $('#start_date').val(),
                        end_date: $('#end_date').val(),
                    },
//                url: "/update_show",
                    url: "/visitors_statistics/show",
                    success: function(data){
                        $('#ooc').empty();
                        $('#ooc').append($(data).find('#ooc').html());

                        $('#df').empty();
                        $('#df').append($(data).find('#df').html());

                        $('#austin').empty();
                        $('#austin').append($(data).find('#austin').html());

                        $('#ocit').empty();
                        $('#ocit').append($(data).find('#ocit').html());

                        $('#bcs').empty();
                        $('#bcs').append($(data).find('#bcs').html());

                        $('#os').empty();
                        $('#os').append($(data).find('#os').html());

                        $('#sa').empty();
                        $('#sa').append($(data).find('#sa').html());

                        $('#houston').empty();
                        $('#houston').append($(data).find('#houston').html());

                        $('#total_note').empty();
                        $('#total_note').append($(data).find('#total_note').html());

                        $('#start_date').empty();
                        $('#start_date').append($(data).find('#start_date').html());

                        $('#end_date').empty();
                        $('#end_date').append($(data).find('#end_date').html());
                    }
                });
            }
        })

    });
</script>