<div class="content">
  <div class="page-header">
    <% provide(:title, 'Sign up') %>
    <h1>Add Administrator</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@admin) do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="field">
            <%#<%= f.label :user_name %>
            <%= f.text_field :user_name, class: 'form-control', placeholder: :user_name %>
          </div>

          <%# <%= f.label :email %>
          <%#<%= f.email_field :email %>

          <div class="field">
            <%#<%= f.label :password %>
            <%= f.password_field :password, class: 'form-control', placeholder: :password %>
          </div>

          <div class="field">
            <%#<%= f.label :password_confirmation, "Verify password" %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Verify password" %>
          </div>

          <div class="actions">
            <%= f.submit "Add administrator", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>

  <%#<%= link_to 'Back', admins_path %>
</div>