<div class="content">
  <div class="page-header">
     <h1>My Profile</h1>
  </div>
<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @admin.user_name %>
</p>

<p>
  <strong>Password Digest:</strong>
  <%= @admin.password_digest %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>

</div>