<p id="notice"><%= notice %></p>

<h1>Listing Visitors</h1>

<form class="form-inline">
    <div class="form-group">
      <div class="input-group input-daterange">
          <input type="text" name="start_date" class="form-control" value="">
          <span class="input-group-addon">to</span>
          <input type="text" name="end_date" class="form-control" value="">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Group</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Zip code</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.last_name %></td>
        <td><%= visitor.first_name %></td>
        <td><%= visitor.group_id %></td>
        <td><%= visitor.email %></td>
        <td><%= visitor.contact %></td>
        <td><%= visitor.zip_code %></td>
        <td><%= visitor.country_id %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('.input-daterange input').each(function() {
    $(this).datepicker("clearDates");
});
</script>

<br>

<%= link_to 'New Visitor', new_visitor_path %>
