<p id="notice"><%= notice %></p>
<div class="content">
  <div class="page-header">
    <h1 class="visitor_title">Listing Visitors</h1>
  </div>
  <form class="pull-right form-inline">
    <div class="form-group">
      <div class="input-group input-daterange">
          <input type="text" name="start_date" class="form-control" value="2012-04-05">
          <span class="input-group-addon">to</span>
          <input type="text" name="end_date" class="form-control" value="2012-04-19">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br><br><br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="table_header">Last name</th>
        <th class="table_header">First name</th>
        <th class="table_header">Group</th>
        <th class="table_header">Email</th>
        <th class="table_header">Contact</th>
        <th class="table_header">Zip code</th>
        <th class="table_header">Country</th>
        <th class="table_header"colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @visitors.each do |visitor| %>
        <tr>
          <td><%= visitor.last_name %></td>
          <td><%= visitor.first_name %></td>
          <td><%= visitor.group_id %></td>
          <td><%= visitor.email %></td>
          <td><%= visitor.contact %></td>
          <td><%= visitor.zip_code %></td>
          <td><%= visitor.country.name %></td>
          <td><%= link_to 'Show', visitor %></td>
          <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
          <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Visitor', new_visitor_path %>
</div>

<script>
$('.input-daterange input').each(function() {
    $(this).datepicker("clearDates");
});
</script>


