<div>
<%= form_for(@visitor) do |f| %>
  <br />
  <br />
  <br />
  <br />
  First name: <%= f.text_field :first_name %><br />
  Last name : <%= f.text_field :last_name %><br />
  Zip code: <%= f.text_field :zip_code %><br />
  <%= f.submit %>
<% end %>
</div>
<!-- </body>
</html> -->
