<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_size %><br>
    <%= f.number_field :group_size %>
  </div>
  <div class="field">
    <%= f.label :visit_date %><br>
    <%= f.datetime_select :visit_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
