<p id="notice"><%= notice %></p>

<p>
  <strong>Group size:</strong>
  <%= @group.group_size %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @group.visit_date %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
