<title>Team Infor</title>
<div style="padding: 20px 20px">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" style="font-family: 'Edwardian Script ITC'">About The Website</h2>
    </div>
  </div>
  <div>
    <p style="font-family: 'Edwardian Script'; font-size: 17px">
      Thank you for visiting our team web page!
      <br><br>
      This website was built as a collaborative team assignment for CSCE 606 - Software Engineering (<a href="https://www.tamu.edu" style="color: maroon">Texas A&M University</a>) during the Fall of 2015.
      Our goal was to design and implement a web-based application to handle the online online survey task of The Museum of American G.I - College Station.
      The application assists in creating a sign-in survey that can automatically sort zip codes provided in the survey according to "areas" (e.g. Houston-area, DFW-area, out of state, etc).
      <br><br>
      A special thank you to <a href="https://parasol.tamu.edu/~jeff/">Dr. Jeff Huang</a> for assigning us this project and providing excellent assistance.
      <br><br>
      December 3, 2015
    </p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" style="font-family: 'Edwardian Script ITC'">About The Dining Philosophers Team</h2>
    </div>
  </div>
  <div class="row">
    <%= image_tag('team.jpg', :class => 'thumbnail', :style => 'width: 643px !important; height: 427px !important; margin: 0 auto') %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" style="font-family: 'Edwardian Script ITC'">Team Members</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <!--<img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/khuong.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">-->
      <%= image_tag('khuong.jpg', :class => 'thumbnail', :style => 'width: 300px !important; height: 300px !important;') %>
      <div style="text-align: center">
        <strong>
          <span class="label label-success" target="_blank">
            <span class="about-us"><a href="https://www.linkedin.com/in/khuong-nguyen-404b2570">Khuong Nguyen</a></span>
          </span>
        </strong>
        <br>
        <span class="label label-danger about-email">khuong.nguyen2189@gmail.com</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!--<img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/khuong.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">-->
      <%= image_tag('jan.jpg', :class => 'thumbnail', :style => 'width: 300px !important; height: 300px !important;') %>
      <div style="text-align: center">
        <strong>
          <span class="label label-success" target="_blank">
            <span class="about-us"><a href="#">Jan Dufek</a></span>
          </span>
        </strong>
        <br>
        <span class="label label-danger about-email">dufek@email.tamu.edu</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!--<img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/khuong.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">-->
      <%= image_tag('oda.jpg', :class => 'thumbnail',:style => 'width: 300px !important; height: 300px !important;') %>
      <div style="text-align: center">
        <strong>
          <span class="label label-success">
            <span class="about-us"><a href="#">Odair Fernandes</a></span>
          </span>
        </strong>
        <br>
        <span class="label label-danger about-email">odair_fernandes@tamu.edu</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!--<img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/khuong.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">-->
      <%= image_tag('chih-yen.jpg', :class => 'thumbnail', :style => 'width: 300px !important; height: 300px !important;') %>
      <div style="text-align: center">
        <strong>
          <span class="label label-success">
            <span class="about-us"><a href="#">Chih-Yen Chang</a></span>
          </span>
        </strong>
        <br>
        <span class="label label-danger about-email">neaboo822@email.tamu.edu</span>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <!--<img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/khuong.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">-->
      <%= image_tag('katrina.jpg', :class => 'thumbnail', :style => 'width: 300px !important; height: 300px !important;') %>
      <div style="text-align: center">
        <strong>
          <span class="label label-success">
            <span class="about-us"><a href="#">Katrina Wu</a></span>
          </span>
        </strong>
        <br>
        <span class="label label-danger about-email">wukochin@tamu.edu</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!--<img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/khuong.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">-->
      <%= image_tag('taylor.jpg', :class => 'thumbnail', :style => 'width: 300px !important; height: 300px !important;') %>
      <div style="text-align: center">
        <strong>
          <span class="label label-success">
            <span class="about-us"><a href="https://www.linkedin.com/in/taylor-dowlen-4a135b62">Taylor Dowlen</a></span>
          </span>
        </strong>
        <br>
        <span class="label label-danger about-email">dowl222@tamu.edu</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!--<img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/khuong.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">-->
      <%= image_tag('ashraf.jpg', :class => 'thumbnail', :style => 'width: 300px !important; height: 300px !important;') %>
      <div style="text-align: center">
        <strong>
          <span class="label label-success">
            <span class="about-us"><a href="https://www.linkedin.com/in/ashraf-ibrahim-6800baa8">Ashraf Ibrahim</a></span>
          </span>
        </strong>
        <br>
        <span class="label label-danger about-email">ashraf235@gmail.com</span>
      </div>
    </div>
  </div>
</div>