<!DOCTYPE html>
<html lang="en">
<head>
  <title>Museum of American G.I</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper" style="height: 100%;">
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top" style="height: 5%">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', homepage_index_path, :class => "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="#">My Profile</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /Header -->

<div class="container" style="width: 95%; height: 83%">
  <%= yield %>
</div>

<footer class="footer" style="height: 7%">
  <div class="footer_container">
    <div style="float:left; width:50%; padding-top:5px; padding-bottom:5px">
        <p class="text-muted">The Dining Philosophers - Copyright (c) 2015.</p>
    </div>
    <!--<div style="float:right; width:50%;  padding-top:5px; padding-bottom:5px">-->
    <div style="float:right; width:50%; vertical-align: middle">
        <%= link_to "Administration", login_path, :style => "font-size: 20px; text-decoration: none;" %>
    <% #%a.navbar-brand{:href => "#admin_login"} Administration %>
    </div>
  </div>
</footer>
</div>
</body>
</html>