<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>M.O.S.S</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="border-color: transparent; background-color: #222;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top" style="font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive; color: #fed136;">Museum of American G.I</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#information">Information</a>
        </li>
        <li>
          <a class="page-scroll" href="#survey">Survey</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div>
  <%= yield %>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright" style="color: #fed136">Copyright &copy; The Dining Philosophers <%= (Date.today>>1).strftime("%Y") %></span>
      </div>
      <div class="col-md-4">
        <!--<ul class="list-inline social-buttons">-->
        <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
        <!--</li>-->
        <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
        <!--</li>-->
        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
        <!--</li>-->
        <!--</ul>-->
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <!--<li><a href="#">Privacy Policy</a>-->
          <!--</li>-->
          <!--<li><a href="#">Terms of Use</a>-->
          <!--</li>-->
          <li><a href="#" style="color: #fed136; font-size: 15px">Administration</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>

</html>
